.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}

@media (min-width: 768px) {
  .catalog__list {
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 141px 60px;
    padding: 0 0 68px;
    margin: 0 30px;
  }
}

@media (min-width: 1440px) {
  .catalog__list {
    margin: 0 110px;
    padding: 0 0 75px;
    gap: 145px 80px;
  }
}
