.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .catalog__list {
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 141px 60px;
    padding: 0 30px 70px;
  }
}

@media (min-width: 1330px) {
  .catalog__list {
    padding: 0 110px 75px;
    gap: 144px 80px;
  }
}
