.contacts--dark {
  background-color: #f2f2f2;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  z-index: 20;
}

.contacts__slogan {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  width: 50%;
}

.contacts__address {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  color: #444444;
  width: 50%;
}

.contacts__map {
  position: relative;
}

.contacts__map-offline {
  width: 100%;
  height: 362px;
  object-fit: cover;
  display: block;
  position: relative;
}

.contacts__map-online {
  position: relative;
  width: 100%;
  height: 362px;
  display: none;
}

.contacts__map::before {
  content: "";
  width: 56px;
  height: 52px;
  position: absolute;
  top: 139px;
  right: 129px;
  background-image: url("../img/map-pin-mobile.png");
  z-index: 1;
}

@media (min-resolution: 2dppx) {
  .contacts__map::before {
    background-image: url("../img/map-pin-mobile@2x.png");
    background-size: 57px 53px;
  }

  .contacts__map-offline {
    height: 362px;
  }
}

@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 62px 70px 60px;
  }

  .contacts__slogan {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address {
    width: 157px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__address-town {
    display: block;
    padding-top: 19px;
  }

  .contacts__map {
    position: relative;
    height: 400px;
  }

  .contacts__map-offline {
    height: 400px;
  }

  .contacts__map-online {
    display: none;
    width: 100%;
    height: 400px;
  }

  .contacts__map::before {
    content: "";
    width: 113px;
    height: 106px;
    position: absolute;
    top: 146px;
    right: 322px;
    background-image: url("../img/map-pin-tablet.png");
    background-size: cover;
    z-index: 10;
  }

  @media (min-resolution: 2dppx) {
    .contacts__map::before {
      background-image: url("../img/map-pin-tablet@2x.png");
      background-size: 113px 106px;
    }
  }
}

@media (min-width: 1330px) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: #ffffff;
    width: 407px;
    padding: 60px 78px 60px 80px;
  }

  .contacts__address {
    text-align: left;
  }

  .contacts__map {
    height: 400px;
  }

  .contacts__map::before {
    content: "";
    position: absolute;
    top: 130px;
    right: 418px;
  }
}
