.custom-elements--rbt {
  padding-top: 22px;
  padding-bottom: 18px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.custom-elements--checkbox {
  padding-top: 34px;
  padding-bottom: 32px;
}

.custom-elements__item {
  position: relative;
  display: flex;
}

.custom-elements__label {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  padding: 6px 15px 6px 44px;
}

.custom-elements__item:not(:first-child) {
  margin-top: 13px;
}

.custom-elements__radiobutton,
.custom-elements__checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.custom-elements__radiobutton + .custom-elements__label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  border-radius: 50%;
  top: -1px;
  left: -2px;
}

.custom-elements__radiobutton:checked + .custom-elements__label::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #68b738;
  top: 8px;
  left: 7px;
  border-radius: 50%;
  z-index: 5;
}

.custom-elements__checkbox + .custom-elements__label::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  top: 2px;
  left: 0;
}

.custom-elements__checkbox:checked + .custom-elements__label::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  background-image: url("../img/tick.svg");
  background-color: #ffffff;
  top: 4px;
  left: 2px;
  z-index: 5;
}

.custom-elements__radiobutton:disabled + .custom-elements__label,
.custom-elements__checkbox:disabled + .custom-elements__label {
  opacity: 0.3;
  cursor: none;
}

@media (min-width: 768px) {
  .custom-elements__label {
    font-size: 20px;
    line-height: normal;
    padding: 5px 15px 5px 60px;
  }

  .custom-elements__radiobutton + .custom-elements__label::before {
    width: 39px;
    height: 39px;
    left: -1px;
  }

  .custom-elements__radiobutton:checked + .custom-elements__label::after {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
  }

  .custom-elements__checkbox + .custom-elements__label::before {
    width: 39px;
    height: 39px;
    top: -1px;
  }

  .custom-elements__checkbox:checked + .custom-elements__label::after {
    top: 7px;
    left: 7px;
    background-image: url("../img/tick-tablet.svg");
  }

  .custom-elements--checkbox .custom-elements__item {
    margin: 0;
  }

  .custom-elements--rbt {
    padding: 23px 27px 27px;
    margin: 72px 39px 63px;
    border: 1px solid #d9d9d9;
  }

  .custom-elements--checkbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 60px;
    padding: 58px 40px 53px;
  }
}

@media (min-width: 1440px) {
  .custom-elements--rbt {
    flex-grow: 1;
    margin: 0;
    min-width: 572px;
    padding: 25px 28px;
  }

  .custom-elements--checkbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
    padding-bottom: 60px;
  }
}
