.example {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  padding-bottom: 40px;
}

.example__wrapper {
  background-color: #eaeaea;
  padding: 25px 20px 0;
}

.example__title {
  color: #000000;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  line-height: 40px;
  margin: 0;
  padding-bottom: 40px;
  font-weight: 400;
}

.example__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
  color: #444444;
}

.example__elements {
  display: flex;
  flex-direction: column;
}

.example__result {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.example__results {
  min-width: 122px;
  border: 1px solid #cdcdcd;
  min-height: 25px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 14px 0 17px;
  position: relative;
}

.example__results-title {
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  position: absolute;
  bottom: -15px;
  padding: 0 15px;
  background-color: #eaeaea;
}

.example__results-description {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
}

.example__price {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0;
}

.example__br {
  display: none;
}

@media (min-width: 768px) {
  .example {
    background-image: linear-gradient(0deg, #eaeaea 44.6%, #ffffff 42.9%);
    padding-bottom: 103px;
  }

  .example__wrapper {
    background-color: transparent;
    padding: 0 30px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 60px;
  }

  .example__text {
    margin-bottom: 55px;
    line-height: 24px;
  }

  .example__elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 90px;
  }

  .example__result {
    justify-content: left;
    gap: 43px;
  }

  .example__results {
    width: 160px;
    min-height: 39px;
    margin: 0;
  }

  .example__results-title {
    font-size: 14px;
    line-height: 14px;
    bottom: -5px;
    background-color: #ffffff;
  }

  .example__results-br {
    display: none;
  }

  .example__results-description {
    font-size: 30px;
    line-height: 37px;
  }

  .example__price {
    display: block;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 0 0 0;
    text-align: right;
  }

  .example__price-money {
    display: block;
    margin-top: 9px;
  }
}

@media (min-width: 1272px) {
  .example {
    flex-direction: row;
    padding: 0 110px 75px;
    justify-content: space-between;
    background-image: linear-gradient(0deg, #eaeaea 462px, #ffffff 42.9%);
  }

  .example__wrapper {
    max-width: 433px;
    padding: 0;
    margin-right: 224px;
  }

  .example__elements {
    flex-direction: column;
    padding-bottom: 0;
  }

  .example__title {
    padding-bottom: 146px;
  }

  .example__text {
    margin-bottom: 69px;
  }

  .example__result {
    gap: 42px;
  }

  .example__results-title {
    background-color: #eaeaea;
    bottom: -6px;
  }

  .example__price {
    text-align: left;
    margin-top: 37px;
  }

  .example__price-money {
    display: inline;
    margin-left: 60px;
  }

  .example__slider {
    margin: 0;
  }
}
