.main-form__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding: 27px 20px 37px;
}

.main-form__text {
  margin: 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 39px;
}

@media (min-width: 768px) {
  .main-form__title {
    font-size: 60px;
    line-height: 60px;
    padding: 35px 70px 54px;
  }

  .main-form__text {
    font-size: 20px;
    line-height: 30px;
    padding: 0 70px 66px;
  }
}

@media (min-width: 1330px) {
  .main-form__title {
    padding-left: 110px;
    padding-bottom: 56px;
  }

  .main-form__text {
    padding-left: 110px;
    padding-right: 110px;
  }
}
