.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  padding: 22px 0 24px;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  cursor: pointer;
}

.main-nav__link {
  list-style: none;
  margin: 0;
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .main-nav__toggle {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border: none;
    right: 20px;
    top: -46px;
    padding: 0;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
    z-index: 60;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--closed .main-nav__toggle {
    background-image: url("../../img/open-menu_mobile.svg");
    background-color: transparent;
  }

  .main-nav--opened .main-nav__toggle {
    background-color: transparent;
    background-image: url("../../img/close-menu_mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--closed .main-nav__list {
    transform: translateX(100%);
    transition: 1s;
    overflow-x: hidden;
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    z-index: 30;
  }
}

@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
    width: auto;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    gap: 33px;
  }

  .main-nav__item {
    border-top: none;
    padding: 0;
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
    padding: 8px 0 5px;

    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  
    &--active {
      border-bottom:  2px solid #68b738;
    }
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1200px) {
  .main-nav__link {
    font-size: 20px;
    line-height: normal;

    &--other {
      color: #ffffff;

      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }

    &--other-active {
      border-bottom: 2px solid #ffffff;
    }
  }
}
