.promo {
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  position: relative;
}

.promo::before {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 302px;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  z-index: -10;
}

@media (min-resolution: 2dppx) {
  .promo::before {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-mobile@2x.png");
  }
}

.promo__title {
  margin: 0;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding: 27px 0 25px;
}

.promo__slogan {
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 29px;
}

@media (min-width: 768px) {
  .promo {
    color: #000000;
  }

  .promo::before {
    display: none;
  }

  .promo__wrapper {
    background: none;
    width: 420px;
    margin: 0;
    padding-left: 120px;
    text-align: left;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    padding: 35px 0 40px;
  }

  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 0;
  }

  .promo__image {
    position: absolute;
    top: 233px;
    margin: auto;
    z-index: -5;
    left: 4%;
  }
}

@media (min-width: 1200px) {
  .promo {
    position: relative;
  }

  .promo::before {
    display: block;
    position: absolute;
    content: "";
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-position: 100%;
    height: 714px;
    top: -170px;
    right: 0;
    width: 50%;
    z-index: -10;
  }

  @media (min-resolution: 2dppx) {
    .promo::before {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop@2x.png");
    }
  }

  .promo__wrapper {
    padding-left: 190px;
    width: 420px;
    height: auto;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    padding: 73px 0 41px;
  }

  .promo__image {
    top: -7px;
    left: 558px;
  }
}
