.search-form__group {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.search-form__title {
  padding: 0 20px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  background-color: #ffffff;
}

.search-form__title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #68b738;
  top: 15px;
  right: 0;
  z-index: -20;
}

.search-form__list {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  box-sizing: border-box;

  &--cat {
    padding-bottom: 24px;
  }

  &--human {
    padding-top: 35px;
    padding-bottom: 24px;
  }
}

.search-form__group--cat {
  padding-bottom: 26px;
}

.search-form__item,
.search-form__label,
.search-form__text,
.search-form__textarea {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.search-form__item {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 13px;
    right: 13px;
    background-repeat: no-repeat;
  }

  &--email::before {
    background-image: url("../../img/icon-email.svg");
  }

  &--phone::before {
    background-image: url("../../img/icon-phone.svg");
  }
}

.search-form__text {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 13px 32px 12px 15px;
  border: 1px solid #e7e7e7;
}

.search-form__item:not(:last-child) {
  margin-bottom: 14px;
}

.search-form__label {
  margin-right: 13px;
}

.search-form__textarea {
  min-width: 280px;
  padding: 14px 14px 14px 15px;
  margin: 38px 20px 19px;
  box-sizing: border-box;
  min-height: 150px;
  border: 1px solid #e7e7e7;
}

.search-form__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-form__footnote {
  text-align: center;
  font-family: "Lato", sans-serif;
  line-height: 16px;
  margin: 0;
  padding-top: 21px;
}

@media (min-width: 768px) {
  .search-form__title {
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
  }

  .search-form__title::before {
    top: 21px;
  }

  .search-form__title-br {
    display: none;
  }

  .search-form__group {
    padding: 0 30px;
  }
  

  .search-form__item,
  .search-form__label,
  .search-form__text,
  .search-form__textarea {
    font-size: 20px;
    line-height: normal;
  }

  .search-form__list {
    padding: 0 40px;

    &--human {
      padding-top: 76px;
      padding-bottom: 65px;
    }
  }

  .search-form__text {
    padding: 10px 19px;
  }

  .search-form__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .search-form__textarea {
    display: flex;
    margin: 86px 40px 65px;
    padding: 11px 20px;
    min-width: 628px;
    min-height: 175px;
    flex-grow: 1;
  }

  .search-form__button-wrapper {
    padding: 0 70px 60px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .search-form__footnote {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .search-form__group {
    padding: 0 70px;
  }
  .search-form__group--cat {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 110px 70px;
    gap: 80px;
  }

  .search-form__list {
    padding: 0 40px;
    
    &--cat {
      flex-grow: 1;
      padding: 0;
    }

    &--human {
      padding-top: 76px;
      padding-bottom: 70px;
      display: flex;
      gap: 80px;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .search-form__item {
      width: 570px;
    }

    .search-form__item:not(:last-child) {
      margin: 0;
    }
  }

  .search-form__textarea {
    margin-top: 78px;
    margin-bottom: 70px;
    min-width: 1220px;
    padding: 9px 20px;
  }

  .search-form__button-wrapper {
    padding: 0 110px 79px;
  }
}
