.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 4px;
}

.social__link {
  display: block;
  padding: 20px;
  cursor: pointer;
}
