.sub-catalog {
  padding: 0;
  position: relative;
}

.sub-catalog::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #68b738;
  top: 21px;
  right: 0;
  z-index: -20;
}

.sub-catalog__title {
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  margin: 0;
  width: auto;
  padding: 21px 20px 36px;
  position: relative;
  background-color: #ffffff;
}

.sub-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.sub-catalog__item {
  padding: 13px 0 19px;
  border-bottom: 1px solid #ebebeb;
}

.sub-catalog__item:first-child {
  border-top: 1px solid #ebebeb;
}

.sub-catalog__item-title {
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  padding-bottom: 13px;
}

.sub-catalog__details {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #444444;
  margin: 0;
}

.sub-catalog__action {
  margin: 35px 20px;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/action-image.png");
  background-repeat: no-repeat;
  height: 290px;
}

@media (min-resolution: 2dppx) {
  .sub-catalog__action {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/action-image@2x.png");
    background-size: contain;
  }
}

.sub-catalog__action-image {
  display: block;
  padding: 59px 0 48px;
  margin: 0 auto;
}

.sub-catalog__action-text {
  color: #ffffff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

@media (min-width: 768px) {
  .sub-catalog {
    padding: 0 30px;
  }

  .sub-catalog__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px 80px;
    width: 340px;
  }

  .sub-catalog__list {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    padding: 0;
  }

  .sub-catalog__item {
    padding: 26px 37px 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .sub-catalog__item-title {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 0;
  }

  .sub-catalog__details {
    width: auto;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .sub-catalog__price {
    width: 91px;
    margin: 0;
  }

  .sub-catalog__volume {
    padding-left: auto;
  }

  .sub-catalog__action {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/action-image-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    margin: 70px 0 75px;
    padding: 0 77px;
    justify-content: center;
    gap: 264px;
  }

  @media (min-resolution: 2dppx) {
    .sub-catalog__action {
      background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/action-image-tablet@2x.png");
      background-size: contain;
    }
  }

  .sub-catalog__action-image {
    margin: 0;
    padding: 0;
    padding-top: 57px;
    width: 80px;
    height: 82px;
  }

  .sub-catalog__action-text {
    padding-top: 71px;
    padding-right: 48px;
    padding-bottom: 69px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .sub-catalog {
    padding: 0 70px;
  }

  .sub-catalog__wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 87px;
    padding-right: 39px;
  }

  .sub-catalog__list {
    padding: 0 40px;
    border: none;
    min-width: 895px;
  }

  .sub-catalog__item {
    text-align: left;
    padding: 14px 0 17px 1px;
  }

  .sub-catalog__item-title {
    width: 325px;
  }

  .sub-catalog__details {
    flex-grow: 1;
  }

  .sub-catalog__price {
    margin: 0;
    width: 62px;
    text-align: left;
    padding-left: auto;
  }

  .sub-catalog__action {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/action-image-desktop.png");
    height: auto;
    flex-direction: column;
    margin: 0;
    padding: 56px 0 43px;
    align-self: center;
    width: 245px;
    gap: 46px;
  }

  @media (min-resolution: 2dppx) {
    .sub-catalog__action {
      background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/action-image-desktop@2x.png");
      background-size: contain;
    }
  }

  .sub-catalog__action-image {
    padding: 0;
    margin: 0 auto;
  }

  .sub-catalog__action-text {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
}
