.target {
  padding: 20px 0;
}

.target__wrapper {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  margin: 0 auto;
  max-width: 1220px;
}

@media (min-width: 768px) {
  .target {
    padding: 0 0 47px 0;
  }

  .target__wrapper {
    gap: 31px;
  }
}

@media (min-width: 1440px) {
  .target {
    padding: 82px 0 73px;
  }

  .target__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 80px;
  }
}
