.work-plan__title {
  color: #000000;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  line-height: 40px;
  margin: 0;
  padding-bottom: 41px;
  font-weight: 400;
}

.work-plan__list {
  margin: 0;
  padding: 0;
  padding-bottom: 49px;
  list-style: none;
}

.work-plan__item {
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 18px;
  position: relative;
  min-height: 60px;
}

.work-plan__item:not(:last-child) {
  margin-bottom: 20px;
}

.work-plan__item::after {
  display: block;
  top: -2px;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  position: absolute;
}

.work-plan__item--sheet::after {
  background-image: url("../img/icon_sheet.svg");
}

.work-plan__item--tube::after {
  background-image: url("../img/icon_tube.svg");
}

.work-plan__item--eat::after {
  background-image: url("../img/icon_eat.svg");
}

.work-plan__item--watch::after {
  background-image: url("../img/icon_watch.svg");
}


.work-plan__text {
  margin: 0;
  margin-left: 80px;
  color: #444444;
}

.work-plan__br {
  display: none;
}

@media (min-width: 768px) {
  .work-plan {
    border-bottom: 1px solid #e6e6e6;
  }

  .work-plan__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 32px;
  }

  .work-plan__list {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 37px 133px;
    padding-bottom: 45px;
    padding-right: 75px;
  }

  .work-plan__item {
    min-height: 280px;
    position: relative;
    counter-increment: number;
  }

  .work-plan__item::before {
    font-family: "Oswald", sans-serif;
    content: counter(number);
    position: absolute;
    font-size: 280px;
    color: #f2f2f2;
    z-index: -1;
    top: 131px;
    left: 115px;
  }

  .work-plan__item:not(:last-child) {
    margin-bottom: 0;
  }

  .work-plan__item::after {
    margin-top: 42px;
    margin-bottom: 31px;
    width: 80px;
    height: 80px;
  }

  .work-plan__text {
    margin: 0;
    margin-top: 151px;
    margin-right: 2px;
    font-size: 16px;
    line-height: 24px;
  }

  .work-plan__br {
    display: block;
  }
}

@media (min-width: 1330px) {
  .work-plan {
    border-bottom: none;
  }

  .work-plan__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 0 78px;
    padding-bottom: 69px;
    padding-right: 0;
  }
}
